
<!-- <app-sample></app-sample>
<app-first></app-first> -->
<!-- <app-customer></app-customer> -->
<!-- <div [ngSwitch]="choice">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
      <div class="navbar-nav">
        <a (click)="choice='show'" class="nav-item nav-link">Products</a>
        <a (click)="choice='edit'" class="nav-item nav-link">Edit</a>
        <a (click)="choice='add'" class="nav-item nav-link">Cart</a>
      </div>
  </nav>

<div *ngSwitchCase="'show'">
  <app-products></app-products>
</div>

<div *ngSwitchCase="'add'">
  <app-cart></app-cart>
</div>

<div *ngSwitchCase="'edit'">
    <app-edit-product></app-edit-product>
</div>

</div>
<p>
  {{data | text:11}}
</p> -->
<!-- <app-register></app-register> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="" >Navbar</a>
    <div class="navbar-nav">
      <a routerLink="products" class="nav-item nav-link">Products</a>
      <a routerLink="edit" class="nav-item nav-link">Edit</a>
      <a routerLink="cart" class="nav-item nav-link">Cart</a>
      <a routerLink="list" class="nav-item nav-link">List</a>
    </div>
</nav>
<div>
    <router-outlet></router-outlet>
</div>
